@model FlashCardPOC.Models.FlashCard

@{
    ViewBag.Title = "Answer Questions";
}

<h2>Details</h2>

<div>
    <h4>FlashCard</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.style)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.style)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.question)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.question)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.answer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.answer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numAttempts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numAttempts)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numRight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numRight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numWrong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numWrong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.percentageRight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.percentageRight)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
